services:
  web:
    build:
      context: .
      args:
        - VITE_API_BASE_URL=${VITE_API_BASE_URL:-http://localhost:8080}
    container_name: DoorMeen_web
    ports:
      - "3000:80"
    restart: always
    env_file:
      - .env

